body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
 will truncate terms that are too long to fit in the left column.
*/
.dl-horizontal dt {
  white-space: normal;
}

.departure-criteria dt {
  font-weight: normal;
  font-style: italic;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.navbar-default {
  background-color: #6c91e2;
  background: linear-gradient(to top,#060399 0%,#6c91e2 100%);
  background: -webkit-linear-gradient(bottom,#060399 0%,#6c91e2 100%);
}

.navbar-default .navbar-brand {
  color: whitesmoke;
}

.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
}

.panel {
 border-radius: 12px;
}

.current-time {
  margin-bottom: 20px;
}

.initially-hidden {
  display: none;
}
