.navbar-default {
  background-color: hsl(240, 1%, 27%);
  background: linear-gradient(bottom,hsl(240, 1%, 27%) 0%,hsl(240, 3%, 65%) 100%);
  background: webkit-linear-gradient(bottom,hsl(240, 1%, 27%) 0%,hsl(240, 3%, 65%) 100%);
}

.navbar-default .navbar-brand {
  color: whitesmoke;
}

body {
  padding-top: 50px;
}

.dark {
  background-color: hsl(240, 1%, 27%);
}

.panel-info>.panel-heading {
  color: #0b7b04e8;
  background-color: hsl(240, 3%, 65%);
  border-color: #050505;
}

.panel {
 border-radius: 12px;
}

